/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f8f8f2;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.red-color {
  color: #ff5555
}

.recipeIndexName {
  color: #8be9fd;
}

.dark-primary {
  background-color: #282a36;
  color: #8be9fd;
}

.addButton {
  color: #50fa7b;
}

.modal-header .btn-close {
  background-color: #ffb86c;
  opacity: 1;
}

.outline-primary-color {
  color: #bd93f9;
  border-color: #bd93f9;
}
$danger: #ff5555;
$primary: #bd93f9;

$mynewcolor:#bd93f9;
@import "bootstrap/scss/bootstrap.scss";

.btn-primary {
  color: #f8f8f2;
}
.btn-primary:hover {
  color: #f8f8f2;
}

.modal-content {
  background-color: #44475a;
}

.recipeBadge {
  background-color: #6272a4;
}

.blueBorder {
  border-color: #6272a4;
}

.form-label {
  color: #ff79c6;
}

.form-control {
  background-color: #44475a;
  color: #f8f8f2;
  border-color: #6272a4;
}

.form-control:focus {
  border-color: #6272a4;
  background-color: #44475a;
  color: #f8f8f2;
}

.modal-header {
  border-color: #6272a4;
}

.primary-color {
  color: #bd93f9
}

.bg-dark {
  background-color: #282a36;
}